---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes";

.author__urls .svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
